{# Start with defaults from defaults.yaml #}
{% import_yaml 'ntp/defaults.yaml' as default_settings %}

{#
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
#}
{% set os_family_map = salt['grains.filter_by']({
    'Debian': {
        'package': ['ntp'],
        'service': 'ntp',
        'conf_file': '/etc/ntp.conf',
        'keys_file': '/etc/ntp/keys',
        'defaults': '/etc/default/ntp',
        'driftfile': '/var/lib/ntp/ntp.drift',
    },
    'RedHat': {
        'package': ['ntp'],
        'service': 'ntpd',
        'conf_file': '/etc/ntp.conf',
        'keys_file': '/etc/ntp/keys',
        'defaults': '/etc/sysconfig/ntpd',
        'driftfile': '/var/lib/ntp/drift',
    },
  }
  , grain="os_family"
  , merge=salt['pillar.get']('ntp:lookup'))
%}

{# Merge the os_family_map to the default settings #}
{% do default_settings.ntp.update(os_family_map) %}

{# Merge in ntp:lookup pillar #}
{% set ntp_settings = salt['pillar.get'](
    'ntp',
    default=default_settings.ntp,
    merge=True
  )
%}
