{%- from "ntp/map.jinja" import ntp with context -%}

{%- if grains.os_family == 'Debian' %}
NTPD_OPTS='{{ ntp.daemon_options }}'
{%- elif grains.os_family == 'RedHat' %}
OPTIONS='{{ ntp.daemon_options }}'
{%- endif %}
