{%- from "ntp/map.jinja" import ntp_settings with context -%}

{%- if grains.os_family == 'Debian' %}
NTPD_OPTS='{{ ntp_settings.daemon_options }}'
{%- elif grains.os_family == 'RedHat' %}
OPTIONS='{{ ntp_settings.daemon_options }}'
{%- endif %}
