{%- from "ntp/map.jinja" import ntp with context -%}

# Default access restrictions
{% for restrict in ntp.conf.restrict_default -%}
{{ restrict }}
{%- endfor %}

# Servers
{% for server in ntp.conf.servers -%}
{{ server }}
{%- endfor %}

# Drift file.  Put this in a directory which the daemon can write to.
# No symbolic links allowed, either, since the daemon updates the file
# by creating a temporary in the same directory and then rename()'ing
# it to the file.
driftfile {{ ntp.driftfile }}

# Disable the monitoring facility to prevent amplification attacks using ntpdc
# monlist command when default restrict does not include the noquery flag. See
# CVE-2013-5211 for more details.
# Note: Monitoring will not be disabled with the limited restriction flag.
disable monitor
